@use '@utilities/variables' as var;
@use '@utilities/mixins' as mixin;

.Banner {
    position: relative;   
    &Detail {
        @include mixin.Col;
        background-color: var.$backgoundtertiary;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 600px;
        width: 100%;
        row-gap: 40px;
        padding: 20px;
        & article {
            padding-left: 40px;
            color: var.$primary;
            & span {
                font-size: 34px;
                line-height: 44px;
                font-weight: 600;
            }
            & h1 {
                margin-bottom: 20px;
            }
            & p {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }
    &Body {
        position: absolute;
        top: 0;
        bottom: 0;
        background-color: var.$backgoundtertiary;
        max-width: 750px;
        width: 100%; 
        @include mixin.Col
    }
    &BG { 
        object-fit: cover; 
        width: 100%; 
    }
    &Head &Detail { 
        max-width: 100%; 
        @include mixin.Row(space-between); 
    }
    &Map {
        position: relative;
        & > div:last-child {
            width: 400px;
            height: 550px;
            background-color: rgba(44, 81, 114, 0.80);
            position: absolute;
            top: 50%;
            right: 8%;
            transform: translateY(-50%); 
            border-radius: 20px;

        }
    }
}