@use '@utilities/variables' as var;
@use '@utilities/mixins' as mixin;

.Banner {
    position: relative;   
    &Detail {
        @include mixin.Col;
        background-color: var.$backgoundtertiary;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-width: 600px;
        width: 100%;
        row-gap: 40px;
        padding: 20px;
        & article {
            padding-left: 40px;
            color: var.$primary;
            & span {
                font-size: 34px;
                line-height: 44px;
                font-weight: 600;
            }
            & h1 {
                margin-bottom: 20px;
            }
            & p {
                font-size: 28px;
                line-height: 38px;
            }
        }
    }

}