@use '@utilities/variables' as var;
@use '@utilities/mixins' as mixin;

.Section {
    @include mixin.Container(var.$normalwide, var.$deep); 
}

.About {
    @extend .Section;
    @include mixin.Row;
    & > div {
        width: 100%;
    }
} 
 
.Loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var.$backgoundtertiary;
    @include mixin.Col;
    z-index: 100;
}