
$wide: 1200px;
$normalwide: 1100px;
$narrow: 1000px;
$deep: 120px;
$normaldeep: 90px;
$shallow: 60px;
$paddin-mobile: '0 15px';
$cardwidth: 330px;
$backgoundprimary: #171923;
$backgoundsecondary: #A0AEC0;
$backgoundtertiary: rgba(255, 255, 255, 0.7);
$primary: #002E5D;
$secondary: #FEA210;
$tertiary: #109132;
$quaternary: #289EF6;
$error: #f44336;
$warning: #ffa726;
$info: #29b6f6;
$success: #66bb6a;