
$wide: 1200px;
$normal: 1100px;
$narrow: 1000px;
$paddin-mobile: '0 15px';
$backgoundprimary: #171923;
$backgoundsecondary: #A0AEC0;
$backgoundtertiary: #D9D9D9;
$primary: #002E5D;
$secondary: #FEA210;
$tertiary: #109132;
$quaternary: #289EF6;
$error: #f44336;
$warning: #ffa726;
$info: #29b6f6;
$success: #66bb6a;